* {
    box-sizing: border-box;
}

#info {
    position: fixed;
    right: 0;
    bottom: 1em;
    width: 100%;
    height: 0.4em;
    /* padding: 1em; */
    /* font-size: 2em; */
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end; */
    background-color: rgba(0, 0, 0, 0.5);
}

.lvl_info {
    position: absolute;
    top: -1em;
    width: 1em;
    height: 2em;
    font-size: 0.5em;
}

#min {
    background-color: #0088ff;
}

#lvl {
    background-color: #00ff88;
}

#max {
    background-color: #ff0088;
}

#config {
    position: fixed;
    right: 0;
    top: 0;
    width: 30em;
    height: auto;
    max-height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    padding: 1em;
    white-space: pre-wrap;
    opacity: 0;
}

#config:hover {
    opacity: 1;
}