* {
    box-sizing: border-box;
}

#info {
    position: fixed;
    right: 0;
    bottom: 2em;
    width: 100%;
    height: 1em;
    /* padding: 1em; */
    /* font-size: 2em; */
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end; */
    background-color: rgba(0, 0, 0, 0.5);
}

.lvl_info {
    position: absolute;
    top: 0;
    width: 1em;
    height: 100%;
}

#min {
    background-color: #00ff88;
}

#lvl {
    background-color: #0088ff;
}

#max {
    background-color: #ff0088;
}